<footer>
    <div class="product-container">
        <!-- Parte alta con Link CENTRATI -->
        <div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); gap: 40px; margin-bottom: 80px; text-align: center;">
            <div class="footer-col">
                <h4>Assistenza</h4>
                <p><a href="/contatti.html">Contatti</a></p>
                <p><a href="/spedizioni.html">Spedizioni</a></p>
                <p><a href="/resi.html">Resi</a></p>
            </div>
            <div class="footer-col">
                <h4>Info</h4>
                <p><a href="/materiali.html">Materiali</a></p>
                <p><a href="/collezioni.html">Collezioni</a></p>
                <p><a href="/blog.html">Blog</a></p>
                <p><a href="/privacy.html">Privacy Policy</a></p>
            </div>
            <div class="footer-col">
                <h4>Social</h4>
                <p><a href="#">Instagram</a></p>
                <p><a href="#">Pinterest</a></p>
            </div>
        </div>

        <!-- Tua parte originale (Logo e Copyright) -->
        <div style="border-top: 1px solid #f0f0f0; padding-top: 50px;">
            <span class="footer-logo">moodhaus</span>
            <p class="copy">&copy; 2026 Studio Moodhaus — Eccellenza nelle stampe su tela</p>
        </div>
    </div>
</footer>




<!-- MOTORE SNIPCART CON LA TUA CHIAVE -->
<script async src="https://cdn.snipcart.com/themes/v3.4.1/default/snipcart.js"></script>

<div hidden id="snipcart" 
     data-api-key="ZDg0NTc2NGYtNmI0Ny00OTBhLTgzYjUtYTk1NDMxODMzNjA5NjM5MDg0OTQxMTEzMTg5Mjc5" 
     data-config-modal-style="side">
</div>



</body>

</html>
